<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="container">
        <div class="home-container">
            <h1>Welcome to TuneMatch!</h1>
            Want to find your perfect music match? Just click <strong>Match</strong> and enter a song name and let us do the rest!
            Once you find a match, you can add it to your favorites list for easy access later.
            <hr><br>
            <div class="home-links">
                <a href="/search" class="home-link">Match</a> 
                <a href="/favorites" class="home-link outline">View Favourites</a>
            </div>
        </div>
    </body>
</html>