<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Match</title>  
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="container">
        <h1>Find Your Perfect Music Match!</h1>
        <form action="/match" method="post">
            Enter a title to a song:
            <input type="text" id="title" name="title" required>
            <button class="search-button" type="submit">Find Match</button>
        </form>
        <hr><br>
        <a class="home-link" href="/">Home</a> 
        <a class="home-link outline" href="/favorites">View Favorites</a>
        <script src="server.js"></script>
    </body>
</html>